*{
padding: 0;
margin: 0;
border: 0;
}

*,*:before,*after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input:-ms-clear{display: none;}
button{cursor: pointer;}
button:-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} *{
padding: 0;
margin: 0;
border: 0;
}

* {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

a:link, a:visited {
	text-decoration: none;
}

body {

}

.wrapper {

}

.container {

}

.content {

}

.header {
	max-width: 1194px;
	margin: auto;
}

.header__nav {
	display: flex;
	align-items: center;
}

.nav__logo {
	margin: 10px 76px 15px 0;
}

.nav__logo img {

}

.nav__search {
	margin-right: 190px;
	position: relative;
	right: 0;
}

.nav__search input {
	width: 620px;
	height: 49px;
	border-radius: 10px;
	color: rgba(87, 86, 91, 1);
	line-height: 23px;
	background-color: #E5E5E5;
	padding: 13px 15px 13px 20px;

}

.nav__search button {
	background-color: #E5E5E5;
	position: absolute;
	right: 20px;
	top: 13px;
}

.nav__button {

}

.nav__button a {
	color: black;
}

.nav__button div{
	width: 99px;
	height: 49px;
	border-radius: 30px;
	background-color: #EBEBEB;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__button div:hover{
	background-color: #424242;
	color: white;
}

.nav__cart {
	margin-left: auto;
	position: relative;
	bottom: 0;
	left: 0;

}

.nav__cart .cart__button {
	width: 50px;
	height: 50px;
	background-color: #F66A15;
	border-radius: 50%;
}

.cart__button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button__counter {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #FFAF19;
	padding: 5px;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 2px;
	left: 35px;
}

.main {
	max-width: 1194px;
	margin: auto;
}

.main__info {

}


.main_slide1 {
	width: 1190px;
	height: 399px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 1.png');
	padding-top: 76px;
	margin: 0 auto;
	overflow: hidden;
}

.main_slide1 h2 {
	font-size: 50px;
	color: white;
	line-height: 51px;
	width: 372px;
	margin-left: 100px;
	margin-bottom: 15px;
	font-style: bold;
}

.main_slide1 p {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
	text-align: left;
	color: white;
	width: 388px;
	margin-left: 100px;
	margin-bottom: 32px;
}

.main_slide1 button {
	margin-left: 100px;
	width: 245px;
	height: 48px;
	border-radius: 30px;
	background-color: #F47322;
	color: white;
	font-weight: 500;
}

.main_slide2 {
	width: 1190px;
	height: 399px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 15.png');
	padding-top: 76px;
	margin: 0 auto;
	overflow: hidden;
}

.main_slide2 h2 {
	font-size: 50px;
	color: white;
	line-height: 51px;
	width: 406px;
	margin-left: 100px;
	margin-bottom: 15px;
	font-style: bold;
}

.main_slide2 p {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
	text-align: left;
	color: white;
	width: 388px;
	margin-left: 100px;
	margin-bottom: 32px;
}

.main_slide2 button {
	margin-left: 100px;
	width: 245px;
	height: 48px;
	border-radius: 30px;
	background-color: #F47322;
	color: white;
	font-weight: 500;
}

.main_slide3 {
	width: 1190px;
	height: 399px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 16.png');
	padding-top: 76px;
	margin: 0 auto;
	overflow: hidden;
}

.main_slide3 h2 {
	font-size: 50px;
	color: white;
	line-height: 51px;
	width: 406px;
	margin-left: 100px;
	margin-bottom: 15px;
	font-style: bold;
}

.main_slide3 p {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
	text-align: left;
	color: white;
	width: 388px;
	margin-left: 100px;
	margin-bottom: 32px;
}

.main_slide3 button {
	margin-left: 100px;
	width: 245px;
	height: 48px;
	border-radius: 30px;
	background-color: #F47322;
	color: white;
	font-weight: 500;
}

.swiper {
	position: relative;
	bottom: 0px;
	right: 0px;
	max-width: 1194px;
	margin: auto;
}

.slider-buttons {
	position: absolute;
	bottom: 40px;
	right: 46px;
	z-index: 9;
	display: flex;
}

.slider-button-prev {
	width: 40px;
	height: 40px;
	margin-right: 17px;
	cursor: pointer;
}

.slider-button-next {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.promo {
	max-width: 1194px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding-bottom: 110px;
	padding-top: 50px;
}

.promo1 {
	width: 570px;
	height: 380px;
	border-radius: 30px;
	background-image: url('../IMG/Rectangle 5.png');
	color: white;

}

.promo1__top {
	padding-left: 32px;
	padding-top: 36px;
}

.promo1__top h2 {
	font-size: 24px;
	line-height: 23px;
	margin-bottom: 21px;
}

.promo1__top p {
	font-size: 16px;
	line-height: 23px;
	width: 168px;
	margin-bottom: 72px;
}

.promo1__bottom {
	padding-left: 32px;
}

.promo1__bottom h2 {
	font-size: 24px;
	line-height: 23px;
	margin-bottom: 8px;
}

.promo1__bottom span {
	font-size: 30px;
	line-height: 23px;
	font-weight: bold;
}

.promo1__bottom p {
	margin-bottom: 25px;
}

.promo1__bottom button {
	width: 232px;
	height: 49px;
	border-radius: 50px;
	background-color: white;
	color: #5F5F61;
	line-height: 23px;
	font-weight: bold;
}

.promo2 {
	width: 570px;
	height: 380px;
	border-radius: 30px;
	background-image: url('../IMG/Rectangle 6.png');
	background-size: cover;
	color: white;

}

.promo2__top {
	padding-left: 32px;
	padding-top: 36px;
}

.promo2__top h2 {
	font-size: 24px;
	line-height: 23px;
	margin-bottom: 21px;
}

.promo2__top p {
	font-size: 16px;
	line-height: 23px;
	width: 168px;
	margin-bottom: 72px;
}

.promo2__bottom {
	padding-left: 32px;
}

.promo2__bottom h2 {
	font-size: 24px;
	line-height: 23px;
	margin-bottom: 8px;
}

.promo2__bottom span {
	font-size: 30px;
	line-height: 23px;
	font-weight: bold;
}

.promo2__bottom p {
	margin-bottom: 25px;
}

.promo2__bottom a {

}

.promo2__bottom button {
	width: 232px;
	height: 49px;
	border-radius: 50px;
	background-color: white;
	color: #5F5F61;
	line-height: 23px;
	font-weight: bold;
}

.delivery {
	max-width: 1194px;
	margin: auto;
	padding-bottom: 100px;
}

.delivery h2 {
	font-size: 32px;
	line-height: 23px;
	margin-bottom: 47px;
	font-weight: bold;
}

.delivery__top {
	display: flex;
	margin-bottom: 30px;
}

.block1 {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 7.png');
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block1__title {
	width: 65px;
	height: 33px;
	border-radius: 50px;
	background-color: #D0FD89;
	color: #49494F;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;


}

.block2 {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 8.png');
	background-size: cover;
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block2__title {
	width: 109px;
	height: 33px;
	font-size: 20px;
	background-color: #AEBC41;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;

}


.block3 {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 9.png');
	background-size: cover;
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block3__title {
	width: 95px;
	height: 33px;
	font-size: 20px;
	background-color: #B86B78;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}


.block4 {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 10.png');
	background-size: cover;
	padding-top: 16px;
	padding-left: 10px;
}

.block4__title {
	width: 83px;
	height: 33px;
	font-size: 20px;
	background-color: #D68334;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}


.delivery__bottom {
	display: flex;
	justify-content: space-between;
}

.block1__bottom {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 11.png');
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block1__title-bottom {
	width: 95px;
	height: 33px;
	font-size: 20px;
	background-color: #CD6255;
	color: white;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.block2__bottom {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 12.png');
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block2__title-bottom {
	width: 101px;
	height: 33px;
	font-size: 20px;
	background-color: #FFFDBF;
	color: #49494F;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.block3__bottom {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 13.png');
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block3__title-bottom {
	width: 125px;
	height: 33px;
	font-size: 20px;
	background-color: #F6FDC8;
	color: #49494F;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.block4__bottom {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 14.png');
	padding-top: 16px;
	padding-left: 10px;
}

.block4__title-bottom {
	width: 147px;
	height: 33px;
	font-size: 20px;
	background-color: #FEF7FE;
	color: #49494F;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.optionsbg {
	background-color: #f6f6f6;
}

.options {
	max-width: 1194px;
	margin: auto;
	padding-top: 40px;
}

.options__title {
	
}

.options__title h2 {
	font-size: 32px;
	line-height: 23px;
	margin-bottom: 50px;
	font-weight: bold;

}

.options__type {
	margin-bottom: 62px;
}

.options__type span {
	margin-right: 58px;
	font-size: 20px;
	line-height: 23px;
}

.options__type span:nth-child(1) {
	color: rgba(243, 115, 33, 1);
}

.options__options {
	display: flex;
	justify-content: space-between;
}

.options-options1 {
	width: 270px;
	height: 471px;
	border-radius: 30px;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 5 8 black;
}

.options1-image {

}

.options1-image img {
	width: 270px;
	height: 192px;
}

.options1-info {
	padding-left: 23px;
	padding-right: 27px;
}

.options1-info h2 {
	font-size: 19px;
	font-weight: bold;
	line-height: 23px;
	width: 200px;
	height: 46px;
	margin-bottom: 13px;
}

.info__title {
	margin-right: 47px;
}

.options1-info p {
	color: rgba(185, 185, 190, 1);
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 36px;
}

.options1-action {
	margin-left: 23px;
	margin-bottom: 21px;
	margin-right: 24px;
	display: flex;
	justify-content: space-between;

}

.action-left {
	display: flex;
	flex-direction: column;
}

.action-left span{
	
}

span.price {
	font-size: 23px;
	color: rgba(75, 75, 81, 1);
	margin-bottom: 5px;
}

span.mass {
	font-size: 17px;
	color: rgba(170, 170, 177, 1);
;
}

.action-right {

}

.action-right button {
	width: 125px;
	height: 50px;
	border-radius: 50px;
	color: #F37321;
	border: 3px solid #F37321;
	background-color: white;
}

.options__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 0;
}

.options__button button {
	width: 315px;
	height: 50px;
	border-radius: 50px;
	color: #F37321;
	border: 3px solid #F37321;
}

button a:link {
	color: #F37321 ;
}

button a:visited {
	color: #F37321 ;
}

.perksbg {
	background-color: ;
}


.perks {
	max-width: 1194px;
	margin: auto;
	padding-top: 100px;
}

.perks__title {
	margin-bottom: 52px;

}

.perks__title h2 {
	font-size: 30px;
	line-height: 23px;
	font-weight: bold;
}

.perks__variants {
	display: flex;
	justify-content: space-between;
	margin-bottom: 202px;
}

.variant-form {
	width: 270px;
	height: 296px;
	border-radius: 30px;
	background-color: whitesmoke;
	box-shadow: 0 5 8 black
}


.variant1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 23px;
	padding-bottom: 25px;
	padding-right: 24px;
	padding-top: 30px;
}

.variant1 img {
	margin-bottom: 34px;
}

.variant1 h2 {
	width: 158px;
	height: 46px;
	font-size: 16px;
	line-height: 23px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 13px;
}

.variant1 p {
	font-size: 14px;
	color: rgba(73, 73, 79, 1);
	line-height: 23px;
	text-align: center;
}

.variant2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 23px;
	padding-bottom: 25px;
	padding-right: 24px;
	padding-top: 30px;
}

.variant2 img {
	margin-bottom: 34px;
}

.variant2 h2 {
	width: 120px;
	font-size: 16px;
	line-height: 23px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 13px;
}

.variant2 p {
	font-size: 14px;
	color: rgba(73, 73, 79, 1);
	line-height: 23px;
	text-align: center;
}


.variant3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 23px;
	padding-bottom: 25px;
	padding-right: 24px;
	padding-top: 30px;
}

.variant3 img {
	margin-bottom: 38px;
}

.variant3 h2 {
	width: 158px;
	font-size: 16px;
	line-height: 23px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 13px;
}

.variant3 p {
	font-size: 14px;
	color: rgba(73, 73, 79, 1);
	line-height: 23px;
	text-align: center;
}

.variant4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
	padding-left: 23px;
	padding-bottom: 25px;
	padding-right: 24px;
}

.variant4 img {
	margin-bottom: 34px;
}

.variant4 h2 {
	width: 188px;
	font-size: 16px;
	line-height: 23px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 13px;
}

.variant4 p {
	font-size: 14px;
	color: rgba(73, 73, 79, 1);
	line-height: 23px;
	text-align: center;
}

.footerbg {
	background-color: #f6f6f6;
}

.footer {
	max-width: 1194px;
	margin: auto;
	height: 181px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-left img {
	margin-right: 50px;
}

.footer-left>a {
	margin-right: 50px;
}

.footer a:nth-child(2) {
	margin
}

.footer a:link {
	color: black;
	text-decoration: underline;
}

.footer a:visited {
	color: black;
	text-decoration: underline;
}

.footer-left {
	display: flex;
	align-items: center;
}

.footer-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-right img {
	margin-right: 20px;
}

.footer-right img:first {
	margin-left: 20px;
}

.right-left {
	margin-right: 20px;

}

.right-left span {
	font-weight: bold;
}
















