*{
padding: 0;
margin: 0;
border: 0;
}

*,*:before,*after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input:-ms-clear{display: none;}
button{cursor: pointer;}
button:-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} *{
padding: 0;
margin: 0;
border: 0;
}

* {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

a:link, a:visited {
	text-decoration: none;
}

.wrapper {

}

.container {
	max-width: 1194px;
	margin: auto;
}

.content {

}

.header {

}

.header__nav {
	display: flex;
	align-items: center;
}

.nav__logo {
	margin: 10px 76px 15px 0;
}

.nav__logo img {

}

.nav__search {
	margin-right: 190px;
	position: relative;
	right: 0;
}

.nav__search input {
	width: 620px;
	height: 49px;
	border-radius: 10px;
	color: rgba(87, 86, 91, 1);
	line-height: 23px;
	background-color: #E5E5E5;
	padding: 13px 15px 13px 20px;

}

.nav__search button {
	background-color: #E5E5E5;
	position: absolute;
	right: 20px;
	top: 13px;
}

.nav__button {

}

.nav__button a {
	color: black;
}

.nav__button div{
	width: 99px;
	height: 49px;
	border-radius: 30px;
	background-color: #EBEBEB;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__button div:hover{
	background-color: #424242;
	color: white;
}

.nav__cart {
	margin-left: auto;
	position: relative;
	bottom: 0;
	left: 0;

}

.nav__cart .cart__button {
	width: 50px;
	height: 50px;
	background-color: #F66A15;
	border-radius: 50%;
}

.cart__button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button__counter {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #FFAF19;
	padding: 5px;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 2px;
	left: 35px;
}

.main {
	max-width: 1194px;
	margin: auto;
}

.main__info {
	margin-bottom: 50px;
}


.main_slide1 {
	width: 1190px;
	height: 399px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 1.png');
	padding-top: 76px;
	margin: 0 auto;
	overflow: hidden;
}

.main_slide1 h2 {
	font-size: 50px;
	color: white;
	line-height: 51px;
	width: 372px;
	margin-left: 100px;
	margin-bottom: 15px;
	font-style: bold;
}

.main_slide1 p {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
	text-align: left;
	color: white;
	width: 388px;
	margin-left: 100px;
	margin-bottom: 32px;

}

.main_slide1 button {
	margin-left: 100px;
	width: 245px;
	height: 48px;
	border-radius: 30px;
	background-color: #F47322;
	color: white;
	font-weight: 500;
}

.promo {
	max-width: 1194px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding-bottom: 110px;
}

.promo1 {
	width: 570px;
	height: 380px;
	border-radius: 30px;
	background-image: url('../IMG/Rectangle 5.png');
	color: white;

}

.promo1__top {
	padding-left: 32px;
	padding-top: 36px;
}

.promo1__top h2 {
	font-size: 24px;
	line-height: 23px;
	margin-bottom: 21px;
}

.promo1__top p {
	font-size: 16px;
	line-height: 23px;
	width: 168px;
	margin-bottom: 72px;
}

.promo1__bottom {
	padding-left: 32px;
}

.promo1__bottom h2 {
	font-size: 24px;
	line-height: 23px;
	margin-bottom: 8px;
}

.promo1__bottom span {
	font-size: 30px;
	line-height: 23px;
	font-weight: bold;
}

.promo1__bottom p {
	margin-bottom: 25px;
}

.promo1__bottom button {
	width: 232px;
	height: 49px;
	border-radius: 50px;
	background-color: white;
	color: #5F5F61;
	line-height: 23px;
	font-weight: bold;
}

.promo2 {
	width: 570px;
	height: 380px;
	border-radius: 30px;
	background-image: url('../IMG/Rectangle 6.png');
	background-size: cover;
	color: white;

}

.promo2__top {
	padding-left: 32px;
	padding-top: 36px;
}

.promo2__top h2 {
	font-size: 24px;
	line-height: 23px;
	margin-bottom: 21px;
}

.promo2__top p {
	font-size: 16px;
	line-height: 23px;
	width: 168px;
	margin-bottom: 72px;
}

.promo2__bottom {
	padding-left: 32px;
}

.promo2__bottom h2 {
	font-size: 24px;
	line-height: 23px;
	margin-bottom: 8px;
}

.promo2__bottom span {
	font-size: 30px;
	line-height: 23px;
	font-weight: bold;
}

.promo2__bottom p {
	margin-bottom: 25px;
}

.promo2__bottom a {

}

.promo2__bottom button {
	width: 232px;
	height: 49px;
	border-radius: 50px;
	background-color: white;
	color: #5F5F61;
	line-height: 23px;
	font-weight: bold;
}

.delivery {
	max-width: 1194px;
	margin: auto;
	padding-bottom: 100px;
}

.delivery h2 {
	font-size: 32px;
	line-height: 23px;
	margin-bottom: 47px;
}

.delivery__top {
	display: flex;
	margin-bottom: 30px;
}

.block1 {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 7.png');
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block1__title {
	width: 65px;
	height: 33px;
	border-radius: 50px;
	background-color: #D0FD89;
	color: #49494F;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;


}

.block2 {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 8.png');
	background-size: cover;
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block2__title {
	width: 109px;
	height: 33px;
	font-size: 20px;
	background-color: #AEBC41;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;

}


.block3 {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 9.png');
	background-size: cover;
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block3__title {
	width: 95px;
	height: 33px;
	font-size: 20px;
	background-color: #B86B78;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}


.block4 {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 10.png');
	background-size: cover;
	padding-top: 16px;
	padding-left: 10px;
}

.block4__title {
	width: 83px;
	height: 33px;
	font-size: 20px;
	background-color: #D68334;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}


.delivery__bottom {
	display: flex;
	justify-content: space-between;
}

.block1__bottom {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 11.png');
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block1__title-bottom {
	width: 95px;
	height: 33px;
	font-size: 20px;
	background-color: #CD6255;
	color: white;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.block2__bottom {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 12.png');
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block2__title-bottom {
	width: 101px;
	height: 33px;
	font-size: 20px;
	background-color: #FFFDBF;
	color: #49494F;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.block3__bottom {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 13.png');
	margin-right: 32px;
	padding-top: 16px;
	padding-left: 10px;
}

.block3__title-bottom {
	width: 125px;
	height: 33px;
	font-size: 20px;
	background-color: #F6FDC8;
	color: #49494F;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.block4__bottom {
	width: 275px;
	height: 182px;
	border-radius: 10px;
	background-image: url('../IMG/Rectangle 14.png');
	padding-top: 16px;
	padding-left: 10px;
}

.block4__title-bottom {
	width: 147px;
	height: 33px;
	font-size: 20px;
	background-color: #FEF7FE;
	color: #49494F;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}






